APP_URL=
APP_PLUGIN_URL_API=
APP_UPLOAD_URL=
APP_PLUGIN_URL_THUMBS=

APP_PLUGIN_DEBUG=
APP_FRANQUIA=

APP_PLUGIN_EMAIL=
APP_PLUGIN_PASSWORD=
APP_PLUGIN_AUTHORIZATION=

APP_GOOGLE_CLIENTID=
APP_GOOGLE_LOGINURI=
APP_FACEBOOK_ID=
APP_FACEBOOK_SECRET=
APP_FACEBOOK_VERSION=
APP_FRANQUEADO_CEP=

GETNET_SELLER_ID=
GETNET_CLIENT_ID=
GETNET_CLIENT_SECRET=
GETNET_TOKEN_URL=
GETNET_CHECKOUT_SCRIPT=
