; Para mais informações de como funciona o arquivo. Veja a página
; https://www.php.net/manual/en/function.parse-ini-file.php

APP_PLUGIN_URL_API = https://api.misterprint.com.br/api/
APP_PLUGIN_URL_THUMBS = https://th3.mrprint.com.br/

APP_PLUGIN_DEBUG = false
APP_PLUGIN_DEBUG_IPS[] = ::1
