.mp-header {
	display: block;
	border-top: 2px solid var( --primary-color );
	border-bottom: 1px solid #eaeaea;

	@media (max-width: $small) {
		display: none;
	}

	&::after {
		content: '';
		clear: both;
		display: table;
	}

	.mp-header-social {
		float: left;
		display: inline-block;
		width: 30%;
		padding: 9px 0;

		&:first-child {
			padding-left: 0;
		}

		a {
			padding: 0 15px;
			transition: all 0.2s ease-in-out;
			opacity: 1;

			&:hover,
			&:focus,
			&:active {
				opacity: 0.6;
			}
		}

		display: none;
	}

	.mp-header-buttons {
		float: right;
		display: inline-block;
		width: 70%;
		text-align: right;
	}

	.menu-menu-topo-container {
		display: inline-block;

		.mp-socket-menu {
			list-style: none;
			padding: 0;
			margin: 0;

			> .menu-item {
				display: inline-block;

				&.menu-item-has-children > a {
					&::after {
						content: '';
						display: inline-block;
						margin-left: 5px;

						@include sprite($arrow-down-grey);
					}
				}

				> a {
					display: block;
					padding: 10px 12px;
				}

				&:hover {
					background: #f5f5f5;

					> .sub-menu {
						display: block;
					}
				}

				> .sub-menu {
					display: none;
					position: absolute;
					list-style: none;
					z-index: 9999;
					background: #f5f5f5;
					border: 1px solid #eaeaea;
					border-top: 0;
					padding: 0;
					text-align: left;
					box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25);

					> li.menu-item {
						> a {
							display: block;
							padding: 5px 20px;
						}
					}
				}
			}
		}
	}
}
